{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <div class="float-right">
    Hi, {{ user.username }}!
    <a href="{% url 'logout' %}">logout</a>
  </div>
  <br>
  {% if card_set_list %}
    <ul class="list-group">
      {% for card_set in card_set_list %}
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'cardset' card_set.pk %}">{{card_set.name}}</a>
        <span class="badge badge-primary badge-pill">{{card_set.card.count}}</span>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No quizes still...</p>
  {% endif %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
