{% extends 'base.html' %}

{% block title %}{{card_set.name}}{% endblock %}
{% block content %}
<div class="border rounded-circle bg-light">
<div class="row justify-content-center">
<h1 class="display-4">{{card_set.name}}</h1>
</div>

<div class="row justify-content-center">
<ul>
{% for card in card_set.card.all %}
  <li>{{card.text}}</li>
{% endfor %}
</ul>
</div>

<div class="row justify-content-center">
<form action="{% url 'startQuiz' %}" method='POST'>
  {% csrf_token %}
  <input type="hidden" value="{{card_set.pk}}" name="card_id"/>
  <button type="submit" class=".btn btn-outline-secondary text-light bg-success">Начать!</button>
</form>
</div>
</div>
{% endblock %}
