{% extends 'base.html' %}

{% block title %}Title{% endblock %}
{% block content %}

<h1>{{card.text}}</h1>
<form action="{% url 'startQuiz' %}" method='POST'>
  {% csrf_token %}
  {% for answer in card.answer_set.all %}
  <p>{{answer.text}}  <input class="checkbox" type="checkbox" name="{{answer.pk}}"></p>
  {% endfor %}
  <input type="hidden" value="{{card_id}}" name="card_id"/>
  <button type="submit" class=".btn btn-outline-secondary text-light bg-success">Дальше</button>
</form>

{% endblock %}
